worker_processes  4;

error_log  {{ .LogPath }}error.log warn;
pid        {{ .PidPath }};

events {
    worker_connections  10240;
}

http {
    include       mime.types;
    default_type  application/octet-stream;

    log_format  main  '$remote_addr - $remote_user [$time_local] "$request" '
                      '$status $body_bytes_sent "$http_referer" '
                      '"$http_user_agent" "$http_x_forwarded_for"';

    access_log  {{ .LogPath }}access.log  main;

    sendfile        on;

    keepalive_timeout  65;

    server_names_hash_max_size {{ .ServerNamesHashMaxSize }};

    server_names_hash_bucket_size {{ .ServerNamesHashBucketSize }};

    client_max_body_size 0;

    real_ip_header "X-Forwarded-For";
    set_real_ip_from 10.0.0.0/8;
    set_real_ip_from 172.20.0.0/16;
    real_ip_recursive on;

    large_client_header_buffers 4 1024k;
    chunked_transfer_encoding on;

    check_shm_size {{ .CheckShmSize }}M;

    server {
        listen 80 default_server;
        listen 443 ssl default_server;
        server_name _;
        ssl_certificate /usr/local/openresty/nginx/ssl/nginx.crt;
        ssl_certificate_key /usr/local/openresty/nginx/ssl/nginx.key;
        return 444;
    }

    server {
        listen 80;
        server_name  localhost {{ .ServerName }};

        location = /upstream_show {
            upstream_show;
        }

        location = /upstream_status {
            check_status;
            access_log off;
        }
{{- if .ABTest }}
        set $redis_sentinel "{{ .RedisConf.Sentinel }}";
        set $redis_master_name "{{ .RedisConf.MasterName }}";
        set $redis_role "{{ .RedisConf.Role }}";
        set $redis_password "{{ .RedisConf.Password }}";
        set $redis_connect_timeout {{ .RedisConf.ConnectTimeout }};
        set $redis_read_timeout {{ .RedisConf.ReadTimeout }};
        set $redis_dbid {{ .RedisConf.DBID }};
        set $redis_pool_size {{ .RedisConf.PoolSize }};
        set $redis_keepalive_timeout {{ .RedisConf.KeepaliveTimeout }};

        location /ab_admin {
        	content_by_lua_file '/usr/local/ABTestingGateway/admin/ab_action.lua';
        }
{{- end }}
    }
{{- if  .ABTest }}
    lua_code_cache on;
    lua_package_path "/usr/local/ABTestingGateway/?.lua;/usr/local/ABTestingGateway/lib/?.lua;/usr/local/openresty/lualib/?.lua;;";
    lua_need_request_body on;
{{- end }}
    include {{ .NginxPath }}conf/server.conf;
    include {{ .NginxPath }}conf/upstream.conf;
}